<!DOCTYPE html>

<head>

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{{site.site_name}}</title>
  
   <link rel="stylesheet" href="/css/style.css">
   <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
   <link rel="alternate" type="application/rss+xml" title="RSS Feed for mysite.com" href="/rss.xml" />

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
    <header>
        <div class="row">
            <div class="six columns">
                <a class="skull" href="/"><img src="/images/Skull-bones.jpg"></a>
                <h1><a href="/">{{site.site_name}}</a></h1>
            </div>
        </div>
    </header>
    <div class="wrapper">